<h2>@Model["rack"].GetTitle() has these authors:</h2>
<ul>
  @foreach (var artist in @Model["name"])
  {
    <li>@artist.GetName()</li>
  }
</ul>

<p><a href='/cd/@Model["rack"].GetId()/artist/add'>Add an artist to this CD</a></p>
<p><a href="/cd/add">Add another CD</a></p>
<p><a href="/">View all CD's</a></p>
